<section class="content" role="main">

  <div>
    <span> From </span>
  </div>

  <div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input name="from" type="number" step="any" class="form-control" id="amount" ng-model="currencyObject.amount">
    </div>
      <select
        name="from"
        id="from"
        ng-model=""
        ng-change=""
        required>
        <option>None</option>
        <option value=""> </option>
        <option value=""> </option>
        <option value=""> </option>
      </select>
  </div>

  <div>
    <span> to </span>
  </div>

  <div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input name="to" type="number" step="any" class="form-control" id="amount" ng-model="currencyObject.amount">
    </div>
    <select
      name="to"
      id="to"
      ng-model=""
      ng-change=""
      required>
      <option>None</option>
      <option value=""> </option>
      <option value=""> </option>
      <option value=""> </option>
    </select>
  </div>

  </section>
