<section class="content" role="main">

  <div>
    <span> From </span>
  </div>

  <div>
    <div class="form-group">
      <label for="amountFrom">Amount</label>
      <input name="from" type="number"  min="1" class="form-control" id="amountFrom" (change)="onKeyFrom($event)" [value]="displayExchangeFrom">
    </div>
      <select
        aria-label="Currency"
        name="from"
        id="from"
        required
        (change)="selectCurrencyFrom($event)">
        <option></option>
        <option *ngFor="let type of selectTypes" [value]="type.value"> {{type.display}} </option>
      </select>
  </div>

  <div>
    <span> to </span>
  </div>

  <div>
    <div class="form-group">
      <label for="amountTo">Amount</label>
      <input name="to" type="number" min="1" class="form-control" id="amountTo" (change)="onKeyTo($event)" [value]="displayExchangeTo">
    </div>
    <select
      aria-label="Currency"
      name="to"
      id="to"
      required
      (change)="selectCurrencyTo($event)">
      <option></option>
      <option *ngFor="let type of selectTypes" [value]="type.value"> {{type.display}} </option>
    </select>
  </div>

  </section>
